@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import "./scss/normalize.css";
@import "./scss/variables";

button:disabled {
  cursor: not-allowed;
}

html {
  overflow: hidden;
  color: $color-text;
  font-family: "Open Sans", sans-serif;
  div {
    box-sizing: border-box;
  }
  body {
    overflow: hidden;
    width: 100vw;
    height: 100dvh;
    background-color: $color-bg-primary;
  }
  #root {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
}

a {
  text-decoration: none;
  color: $color-text;
  cursor: pointer;
  border-radius: $border-radius-button;
  padding: $pudding-button;
  transition: $transition;
  display: flex;
  justify-content: center;
  align-items: center;

  &:visited {
    color: $color-text;
  }
  &:hover {
    background-color: $color-hover-button;
  }
}

button {
  border-radius: $border-radius-button;
  padding: $pudding-button;
  border: $border-button;
  background-color: transparent;
  color: $color-text;
  cursor: pointer;
  transition: $transition;
  display: flex;
  align-items: center;
  gap: 6px;

  &:hover {
    background-color: $color-text;
    color: $color-bg-primary;
  }
}
