.postCard {
  max-width: 300px;
  border: 1px solid darkcyan;
  .content {
    .meta {
      .settings {
        .dropDown {
          animation: dropDownAnimation 0.15s ease;
        }
      }
    }
    .text {
      white-space: pre-line;
      word-break: break-all;
    }

    .actions {
      .like {
        color: black;
      }
      .liked {
        background-color: rgba(255, 0, 0, 0.404);
      }
    }
  }
}

@keyframes dropDownAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
