@import "../../scss/variables";

.card {
  width: 100%;
  max-width: $max-width-main;
  min-width: fit-content;
  border-radius: $border-radius;
  background-color: $color-bg-secondary;
  padding: $padding-card;
  display: flex;
  gap: 27px;
  transition: $transition;

  .avatarContainer {
    @extend %avatar-container-small;

    img {
      @extend %avatar-image-small;
    }
  }
  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $gap-default;
    .meta {
      display: flex;
      gap: $gap-default;
      align-items: center;

      .name {
        font-size: 20px;

        &:hover {
          text-decoration: underline;
        }
      }
      .userName,
      .date {
        color: $color-text-secondary;
        font-size: 14px;
      }

      .settings {
        margin-left: auto;
        position: relative;

        .dots {
          all: unset;
          transition: $transition;
          padding: 6px;

          &:hover {
            svg {
              path {
                stroke: $color-text;
              }
            }
          }
        }
        .dropDown {
          position: absolute;
          top: 25px;
          right: 0px;
          width: fit-content;
          z-index: 10;

          .container {
            animation: dropDownAnimation $animation-duration;
            background-color: $color-bg-primary;
            border-radius: $border-radius;
            padding: 6px 8px;
            gap: 6px;
            position: relative;

            .delete {
              border-color: $color-red;
              color: $color-red;

              &:hover {
                background-color: $color-red;
                color: $color-text;
              }
            }
          }
          .background {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
          }
        }
      }
    }
    .text {
      white-space: pre-line;
      word-break: break-all;
    }

    .images {
      display: flex;
      gap: $gap-default;
      flex-wrap: wrap;
      justify-content: center;

      .imageContainer {
        max-width: 100%;
        display: flex;
        justify-content: center;
        gap: $gap-default;

        img {
          max-width: 100%;
          max-height: 400px;
          border-radius: $border-radius;
        }
      }
    }
    .actions {
      display: flex;
      justify-content: flex-end;
      gap: $gap-default;
      svg {
        path {
          fill: $color-text;
        }
      }
      button {
        font-size: 14px;

        &:hover {
          svg {
            path {
              fill: $color-bg-primary;
            }
          }
        }
      }
      .like {
      }

      .liked {
        border-color: $color-red;
        color: $color-red;
        svg {
          path {
            fill: $color-red;
          }
        }

        &:hover {
          svg {
            path {
              fill: $color-red;
            }
          }
        }
      }
    }
  }
}

.post {
  cursor: pointer;

  &:hover {
    background-color: $color-hover-card;
  }
}

.hideDropDown {
  opacity: 0;
  transition: $animation-duration;
}

@keyframes dropDownAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes dropDownAnimationHide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media (max-width: 550px) {
  $padding-card: 14px;
  $gap: 14px;
  .card {
    padding: $padding-card;
    gap: 14px;
  }
}
