@import "../../scss/variables";

.userInfo {
  display: flex;
  flex-direction: column;
  gap: $gap-default;
  max-width: $max-width-main;
  min-width: $min-width-main;
  .imageButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      height: fit-content;
    }
    .avatarContainer {
      flex: 1;
      display: flex;
      img {
        @extend %avatar-image-big;
      }
    }
  }

  .nameContainer {
    display: flex;
    flex-direction: column;
    gap: calc($gap-default/2);

    .name {
      font-size: 20px;
      font-weight: 800;
    }
    .userName {
      color: $color-text-secondary;
    }
    .bio {
      margin-top: 12px;
    }
  }
  .followersContainer {
    display: flex;
    gap: $gap-default;

    a {
      all: unset;
      font-size: 14px;
      color: $color-text-secondary;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
