@import "../../scss/variables";

.userNameForm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $color-bg-primary;
  padding: $padding-default;
  display: flex;
  align-items: center;
  justify-content: center;
}
.invalid {
  border: 1px solid red !important;
}

.valid {
  border: 1px solid green !important;
}
