@import "../../scss/variables";

.followersList {
  @extend %page-default-params;

  .navigation {
    display: flex;
    justify-content: space-evenly;
    gap: $gap-default;
    max-width: $max-width-main;
  }
}
