@import "../../scss/variables";

.editProfile {
  @extend %page-default-params;
}
.bio {
  resize: none;
}

.buttons {
  display: flex;
  gap: $gap-default;
  justify-content: space-between;

  .save {
    background-color: $color-hover-button;
    &:hover {
      background-color: $color-text;
    }
  }

  .goBack {
    border: 1px solid transparent;

    &:hover {
      border: $border-button;
      background-color: transparent;
      color: $color-text;
    }
  }
}
