$border-radius: 21px;
$border-radius-button: 16px;

$border-button: 1px solid rgba(255, 255, 255, 0.25);

$bg-primary-color: #080e24;
$bg-secondary-color: #111d35;

$text-color: #eeeeee;
$text-secondary-color: #888888;

$hover-color-button: rgba(255, 255, 255, 0.2);

$red-color: #df4343;

$pudding-default: 16px;
$pudding-button: 11px 16px;
$pudding-card: 27px;

$transition: 0.12s;

$max-width-card: 600px;
$min-width-card: 300px;
$width-avatar: 54px;

$height-avatar: 54px;

$gap-default: 8px;
