$border-radius: 21px;
$border-radius-button: 16px;

$border-button: 1px solid rgba(255, 255, 255, 0.25);

$color-bg-primary: #080e24;
$color-bg-secondary: #111d35;
$color-text: #eeeeee;
$color-text-secondary: #888888;
$color-hover-button: rgba(255, 255, 255, 0.2);
$color-hover-card: rgba(255, 255, 255, 0.1);
$color-red: #df4343;

$pudding-default: 16px;
$pudding-button: 11px 16px;
$pudding-card: 27px;
$padding-input: 16px;

$transition: 0.12s;
$animation-duration: 0.15s ease;

$max-width-main: 600px;
$min-width-main: 300px;
$width-avatar: 54px;

$height-avatar: 54px;

$gap-default: 8px;
$gap-list: 28px;
