$border-radius: 21px;
$border-radius-button: 16px;

$border-button: 1px solid rgba(255, 255, 255, 0.25);

$color-bg-primary: #080e24;
$color-bg-secondary: #111d35;
$color-text: #eeeeee;
$color-text-secondary: #888888;
$color-hover-button: rgba(255, 255, 255, 0.2);
$color-hover-card: rgba(255, 255, 255, 0.1);
$color-red: #df4343;

$padding-default: 16px;
$padding-button: 11px 16px;
$padding-card: 27px;
$padding-input: 16px;

$transition: 0.12s;
$animation-duration: 0.15s ease;

$max-width-main: 600px;
$min-width-main: 0;

$width-avatar: 54px;
$height-avatar: 54px;

$max-size-avatar-big: 164px;

$gap-default: 8px;
$gap-list: 28px;

%page-default-params {
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: $padding-default;
  overflow: auto;
  overflow-x: hidden;
  flex: 2;
  gap: $gap-list;
}

%avatar-container-small {
  width: $width-avatar;
  height: $height-avatar;
}

%avatar-container-big {
  max-width: $max-size-avatar-big;
  max-height: $max-size-avatar-big;
  border-radius: 100%;
  background-image: url("/images/babyBeaver.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
}

%avatar-image-small {
  width: $width-avatar;
  height: $height-avatar;
  aspect-ratio: 1/1;
  object-fit: cover;
  background-image: url("/images/babyBeaver.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 100%;
}

%avatar-image-big {
  aspect-ratio: 1/1;

  max-width: $max-size-avatar-big;
  max-height: $max-size-avatar-big;
  min-width: 64px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
}

%card {
  width: 100%;
  max-width: $max-width-main;

  border-radius: $border-radius;
  background-color: $color-bg-secondary;
  padding: $padding-card;
  display: flex;
  gap: 27px;
  transition: $transition;
}
