@import "./variables";

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc($gap-default * 5);

  .logo {
    font-size: 32px;
  }

  .formContainer {
    display: flex;
    flex-direction: column;
    gap: calc($gap-default * 2);
    align-items: center;

    .action {
      font-size: 20px;
    }

    .btn {
      justify-content: center;
    }

    .messageMain {
      font-size: 32px;
      text-align: center;
    }
    .message {
      display: flex;
      align-items: center;
      gap: 4px;
    }

    .buttons {
      display: flex;
      flex-direction: column;
      gap: calc($gap-default * 2);
      align-items: center;
      width: 100%;

      .text {
        flex: 1;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.link {
  text-decoration: underline;
}
